/*
*
* Title: Wagner teszt oldal
* Version: 1.0
* Author: Clair and Curtis HU
*
*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* general */

/* custom */